<h1>TinyApp</h1>
<a href="/login">Login</a>
<a>|</a>
<a href="/register">Register</a>
<% if(!username) {%>
<%} else {%>
    <p>Logged In As: <%=username%></P>
    <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Logout</button>
        </div>
    </form>
<%}%>