<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>New URL - TinyApp Example</title>
  </head>

  <body style="font-size:20px; padding:50px;">
    <h1>TinyApp</h1>
    <a href="/login">Login</a>
    <a>|</a>
    <a href="/register">Register</a>
    <h3>Create Account</h3>
    <form action="/register" method="POST">
      <div class="form-group mb-2">
        <p> 
            <label for="email">Email:
            <input class="form-control" type="email" name="email" placeholder="Please enter your email" style="width: 300px; margin: 1em"></label>
        </p>
        <p>       
            <label for="password">Password:
            <input class="form-control" type="password" name="password" placeholder="Please enter your password" style="width: 300px; margin: 1em"></label>
        </p>  
        <p> 
            <button type="submit" class="btn btn-primary">Register</button>
        </p>
      </div>
    </form>
  </body>
</html>